*{
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}


/*Nav*/
nav{
    float: right;
    font-size: 1.2em;
    margin-top: 1%;
    background-color: #515c61;
    padding-top: 1%;
    padding-bottom: 1%;
}

a{
    text-decoration: none;
    padding-left: 40px;
    padding-right: 20px;
    font-weight: bold;
    color: white;
    background-color: #515c61;
}
/*Cabecera*/
#cabecera h1{
    background-color: #515c61;
    color: white;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#cabecera h2{
    color: darkgrey;
}

#nombre{
   margin-left: 40%;
}

#nombre h2{
    padding-left: 8%;
    font-size: 2em;
    color: #515c61
}

#nombre blockquote{
    text-align: justify;
    margin-left: -19%;
    font-size: 1.3em;
    padding-top: 1%;
}

.perfil{
    margin-top: 3%;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
/*Sobre mi*/
#sobre-mi{
    background-color: #3a4245;
    height: 500px;
}

#sobre-mi img{  
    margin-left: 20%;
    height: 300px;
    margin-top: 7%;
}

#sobre-mi header h2{
    margin-top: -25%;
    padding-top: 10px;
    background-color: #3a4245;
    padding-left: 43%;
    color: #f2f2f2;
    font-size: 3em;
}

#sobre-mi p{
    width: 350px;
    text-align: justify;
    margin-left: 60%;
    padding-top: 3%;
    color: #fff;
    background-color: #3a4245;
    font-weight: bold;
    font-size: 1em;
}
/*Skills*/
#skills{
    border: solid red 1px;
    margin-top: -2%;
}
/*Hard skills*/
#hard-skills header h2{
    padding-top: 2%;
    font-weight: bold;
    font-size: 2.5em;
    padding-left: 20%;
    padding-bottom: 2%;
}

#hard-skills header img{
    width: 300px;
    height: 400px;
    padding-left: 6%;
}

#lista{
    margin-left: 30%;
    margin-top: -27%;
    font-size: 2em;
    line-height: 50px;   
}
/*Soft skills*/
#soft-skills header h2{
    padding-top: 2%;
    font-weight: bold;
    font-size: 2.5em;
    padding-left: 60%;
    margin-top: -33.2%;
    padding-bottom: 2%;
}

#soft-skills header img{
    width: 300px;
    height: 400px;
    margin-left: 50%;
}

#lista2{
    margin-left: 74%;
    margin-top: -27%;
    font-size: 2em;
    line-height: 50px;   
}




