*{
    background-color: #BDBBB6;
    font-family: 'Times New Roman', Times, serif;
    
}

header h1{
    text-align: center;
    color: #73877B;
    display: block;
    font-size: 3em;
}

#bio p{
    text-align: justify;
    display: block;
    width: 500px;
    margin: auto;
    padding: 10px;
    line-height: 30px;
    border: 1px solid black;
    background-color: #73877B;
}

#foto img{
    display: block;
    margin: auto;
    margin-top: 2%;
    box-shadow: 30px, 10px, 20px black;
}

#foto img:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
}